#set( $PACKAGE_APP = ${project.properties.getProperty('package.app')} )
#set( $CAS_ENABLED = ${project.properties.getProperty('cas.enabled')} )
# GitLab configuration

Alias /gitlab ${PACKAGE_APP}/public
<Directory ${PACKAGE_APP}/public>
	Options -MultiViews
	<IfVersion < 2.4>
		Order allow,deny
		Allow from all
	</IfVersion>
	<IfVersion >= 2.4>
		Require all granted
	</IfVersion>
</Directory>

<Location /gitlab>
	SetEnv RAILS_RELATIVE_URL_ROOT "/gitlab"
	PassengerAppRoot ${PACKAGE_APP}
</Location>
