[mysqld]
datadir = @{package.data}
bind-address = @{mysql.bind}
port = @{mysql.port}
socket = @{package.data}/mysql.sock
user = @{package.user}
symbolic-links = 0
max-allowed-packet = 16M
log-bin-trust-function-creators = 1
character-set-server = @{mysql.charset}
collation-server = @{mysql.collation}
#innodb-file-per-table = 1
#innodb-file-format = Barracuda
#innodb-large-prefix = 1

[mysqld_safe]
log-error = @{package.log}/mysqld.log
pid-file = @{package.app}/run/mysqld.pid

[client]
port = @{mysql.port}
socket = @{package.data}/mysql.sock
default-character-set = @{mysql.charset}
