[mysqld]
datadir = @{package.data}
bind-address = @{mysql.bind}
port = @{mysql.port}
socket = @{package.data}/mysql.sock
user = @{package.user}
symbolic-links = 0

[mysqld_safe]
log-error = @{package.log}/mysqld.log
pid-file = @{package.app}/run/mysqld.pid
