[mysqld]
datadir = @{package.data}
bind-address = @{mysql.bind}
port = @{mysql.port}
socket = @{package.data}/mysql.sock
user = @{package.user}
symbolic-links = 0
log_bin_trust_function_creators = 1
character-set-server = @{mysql.charset}
collation-server = @{mysql.collation}
#innodb_file_per_table = 1
#innodb_file_format = Barracuda
#innodb_large_prefix = 1

[mysqld_safe]
log-error = @{package.log}/mysqld.log
pid-file = @{package.app}/run/mysqld.pid

[client]
port = @{mysql.port}
socket = @{package.data}/mysql.sock
default-character-set = @{mysql.charset}
