{% load i18n extra_tags email_tags %}

{% declare %}
    prefix = html.mark_safe(smart_str(settings.EMAIL_SUBJECT_PREFIX))
    app_name = smart_str(settings.APP_SHORT_NAME)

    exclude_finetune = True
{% enddeclare %}

{% email %}
    {% subject %}{% blocktrans %}{{ prefix }} Your email settings are correct: {{ app_name }}{% endblocktrans %}{% endsubject %}

    {% htmlcontent notifications/base.html %}
        <p style="{{ p_style }}">{% trans "If you see this content your E-Mail settings are correct." %}</p>
    {% endhtmlcontent %}

{% textcontent notifications/base_text.html %}
    {% trans "If you see this content your E-Mail settings are correct." %}
{% endtextcontent %}

{% endemail %}

