#set( $D = '$' )
#set( $CAS_LDAP_SYNC_ENABLED = ${project.properties.getProperty('cas.ldap.sync.enabled')} )
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:c="http://www.springframework.org/schema/c"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- https://apereo.github.io/cas/4.2.x/installation/Pac4j-Authentication.html -->
	<bean id="casRestAuthenticationHandler"
		  class="org.jasig.cas.integration.pac4j.authentication.handler.support.ExtUsernamePasswordWrapperAuthenticationHandler"
		  p:authenticator-ref="casRestAuthenticator"
		  p:profileCreator-ref="casRestProfileCreator"
		  p:typedIdUsed="false"
		  p:excludedUsernamesRegex="${D}{cas.rest.auth.excludedUsernamesRegex}">
#if( ${CAS_LDAP_SYNC_ENABLED} == "1" || ${CAS_LDAP_SYNC_ENABLED} == "true" )
		<property name="authenticationListeners">
			<list>
				<ref bean="ldapSyncAuthenticationListener" />
			</list>
		</property>
#end
	</bean>

	<bean id="casRestAuthenticator"
		  class="org.springframework.aop.framework.ProxyFactoryBean"
		  p:target-ref="casRestAuthenticatorTarget"
		  p:proxyInterfaces="org.pac4j.http.credentials.authenticator.UsernamePasswordAuthenticator"
	/>

	<bean id="casRestAuthenticatorTarget"
		  class="org.pac4j.cas.credentials.authenticator.CasRestAuthenticator"
		  c:casServerPrefixUrl="${D}{cas.rest.auth.server}"
		  c:casRestUrl="${D}{cas.rest.auth.ticket.url}">
		<property name="ticketValidator">
			<bean class="org.jasig.cas.client.validation.Saml11TicketValidator"
				  c:casServerUrlPrefix="${D}{cas.rest.auth.server}"
				  p:tolerance="30000" />
		</property>
	</bean>

	<bean id="casRestProfileCreator"
		  class="org.pac4j.cas.profile.creator.CasRestProfileCreator"
		  p:casRestClient-ref="casRestClient"
		  p:serviceUrl="${D}{cas.rest.auth.ticket.service}"
	/>

	<bean id="casRestClient"
		  class="org.pac4j.cas.client.rest.CasRestBasicAuthClient"
		  c:authenticator-ref="casRestAuthenticatorTarget"
	/>

</beans>
