#set( $D = '$' )
#set( $CAS_LDAP_SYNC_PASSWORD = ${project.properties.getProperty('cas.ldap.sync.syncPassword')} )
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:c="http://www.springframework.org/schema/c"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="ldapSyncAuthenticationListener"
		  class="org.jasig.cas.authentication.listener.LdapSyncAuthenticationListener"
		  p:connectionFactory-ref="pooledLdapConnectionFactory"
		  p:dnTemplate="${D}{ldap.user.rdn.attr}=%u,${D}{ldap.usersDn}"
		  p:groupDNs="${D}{ldap.sync.groupDNs}"
		  p:groupMemberAttr="${D}{ldap.sync.groupMemberAttr}"
		  p:groupMemberIsDN="${D}{ldap.sync.groupMemberIsDN}">
		<property name="defaultAttributes">
			<map>
				<entry key="objectClass">
					<array>
						<value>top</value>
						<value>person</value>
						<value>organizationalPerson</value>
						<value>${D}{ldap.user.class}</value>
					</array>
				</entry>
				<entry key="${D}{ldap.user.commonname.attr}" value="%u" />
				<entry key="${D}{ldap.user.lastname.attr}" value="%u" />
				<entry key="${D}{ldap.user.organization.attr}" value="${D}{ldap.sync.organizationName}" />
			</map>
		</property>
		<property name="mapAttributes">
			<map>
				<entry key="${D}{cas.attr.commonname}" value="${D}{ldap.user.commonname.attr}"/>
				<entry key="${D}{cas.attr.firstname}" value="${D}{ldap.user.firstname.attr}" />
				<entry key="${D}{cas.attr.lastname}" value="${D}{ldap.user.lastname.attr}" />
				<entry key="${D}{cas.attr.displayname}" value="${D}{ldap.user.displayname.attr}" />
				<entry key="${D}{cas.attr.mail}" value="${D}{ldap.user.mail.attr}" />
				<entry key="${D}{cas.attr.organization}" value="${D}{ldap.user.organization.attr}" />
			</map>
		</property>
#if( ${CAS_LDAP_SYNC_PASSWORD} == "1" || ${CAS_LDAP_SYNC_PASSWORD} == "true" )
		<property name="overrideAttributes">
			<map>
				<entry key="${D}{ldap.user.password.attr}" value="%p" />
			</map>
		</property>
#end
	</bean>

</beans>