# Nagios product monitoring configuration file


###############################################################################
# HOST DEFINITION
###############################################################################

# Define a host for the local machine

define host{
	use			linux-server
	host_name	@{product.domain}
	alias		@{product.name}
	address		127.0.0.1
	}


###############################################################################
# HOST GROUP DEFINITION
###############################################################################

# Define an optional hostgroup for Linux machines

define hostgroup{
	hostgroup_name	linux-servers
	alias			Linux Servers
	members			@{product.domain}
	}


###############################################################################
# SERVICE GROUP DEFINITIONS
###############################################################################

# Define a service group for machine services

define servicegroup{
	servicegroup_name	machine
	alias				Machine
	}


# Define a service group for system services

define servicegroup{
	servicegroup_name	system
	alias				System
	}


# Define a service group for admin services

define servicegroup{
	servicegroup_name	admin
	alias				Admin
	}


# Define a service group for user services

define servicegroup{
	servicegroup_name	services
	alias				Services
	}


###############################################################################
# SERVICE DEFINITIONS
###############################################################################

# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
	use						local-service
	host_name				@{product.domain}
	service_description		Root Partition
	servicegroups			machine
	check_command			check_local_disk!20%!10%!/
	}


# Define a service to check the disk space of the product app partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
	use						local-service
	host_name				@{product.domain}
	service_description		Product App Partition
	servicegroups			machine
	check_command			check_local_disk!20%!10%!@{product.app}
	}


# Define a service to check the disk space of the product backup partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
	use						local-service
	host_name				@{product.domain}
	service_description		Product Backup Partition
	servicegroups			machine
	check_command			check_local_disk!20%!10%!@{product.backup}
	}


# Define a service to check the disk space of the product data partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
	use						local-service
	host_name				@{product.domain}
	service_description		Product Data Partition
	servicegroups			machine
	check_command			check_local_disk!20%!10%!@{product.data}
	}


# Define a service to check the disk space of the product log partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
	use						local-service
	host_name				@{product.domain}
	service_description		Product Log Partition
	servicegroups			machine
	check_command			check_local_disk!20%!10%!@{product.log}
	}


# Define a service to check the disk space of the product tmp partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
	use						local-service
	host_name				@{product.domain}
	service_description		Product Tmp Partition
	servicegroups			machine
	check_command			check_local_disk!20%!10%!@{product.tmp}
	}


# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.

define service{
	use						local-service
	host_name				@{product.domain}
	service_description		Current Users
	servicegroups			machine
	check_command			check_local_users!20!50
	}


# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 users.

define service{
	use						local-service
	host_name				@{product.domain}
	service_description		Total Processes
	servicegroups			machine
	check_command			check_local_procs!300!500!RSZDT
	}


# Define a service to check the load on the local machine. 

define service{
	use						local-service
	host_name				@{product.domain}
	service_description		Current Load
	servicegroups			machine
	check_command			check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
	}


# Define a service to check the swap usage the local machine. 
# Critical if less than 10% of swap is free, warning if less than 20% is free

define service{
	use						local-service
	host_name				@{product.domain}
	service_description		Swap Usage
	servicegroups			machine
	check_command			check_local_swap!20!10
	}


# Define a service to check SSH on the local machine.

define service{
	use						local-service
	host_name				@{product.domain}
	service_description		SSH
	servicegroups			machine
	check_command			check_ssh
	}


# Define a service to check SMTP on the local machine.

define service{
	use						local-service
	host_name				@{product.domain}
	service_description		SMTP
	servicegroups			machine
	check_command			check_smtp
	}


# Define a service to check for software updates on the local machine.

define service{
	use						local-service
	host_name				@{product.domain}
	service_description		Software Updates
	servicegroups			machine
	check_command			check_updates!@{system.nagios.cmd.check_updates.args}
	notification_interval	1440
	}
