#set( $D = '$' )
#set( $CAS_LDAP_AUTH_ENABLED = ${project.properties.getProperty('cas.ldap.auth.enabled')} )
#set( $CAS_REST_AUTH_ENABLED = ${project.properties.getProperty('cas.rest.auth.enabled')} )
#set( $CAS_RADIUS_AUTH_ENABLED = ${project.properties.getProperty('cas.radius.auth.enabled')} )
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:c="http://www.springframework.org/schema/c"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xmlns:sec="http://www.springframework.org/schema/security"
	   xmlns:ldaptive="http://www.ldaptive.org/schema/spring-ext"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	   http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
	   http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
	   http://www.ldaptive.org/schema/spring-ext http://www.ldaptive.org/schema/spring-ext.xsd">

	<!-- Authentication Components -->
	<!-- https://apereo.github.io/cas/4.2.x/installation/Configuring-Authentication-Components.html -->
	<util:map id="authenticationHandlersResolvers">
		<entry key-ref="proxyAuthenticationHandler" value-ref="proxyPrincipalResolver" />
#if( ${CAS_REST_AUTH_ENABLED} == "1" || ${CAS_REST_AUTH_ENABLED} == "true" )
		<entry key-ref="casRestAuthenticationHandler" value-ref="primaryPrincipalResolver" />
#end
#if( ${CAS_LDAP_AUTH_ENABLED} == "1" || ${CAS_LDAP_AUTH_ENABLED} == "true" )
		<entry key-ref="ldapAuthenticationHandler" value-ref="primaryPrincipalResolver" />
#end
#if( ${CAS_RADIUS_AUTH_ENABLED} == "1" || ${CAS_RADIUS_AUTH_ENABLED} == "true" )
		<entry key-ref="radiusAuthenticationHandler" value-ref="primaryPrincipalResolver" />
#end
	</util:map>
	<util:list id="authenticationMetadataPopulators">
		<ref bean="successfulHandlerMetaDataPopulator" />
		<ref bean="rememberMeAuthenticationMetaDataPopulator" />
	</util:list>

	<!-- Authentication Policy -->
	<!-- https://apereo.github.io/cas/4.2.x/installation/Configuring-Multifactor-Authentication.html -->
	<alias name="anyAuthenticationPolicy" alias="authenticationPolicy" />
	<alias name="acceptAnyAuthenticationPolicyFactory" alias="authenticationPolicyFactory" />
	
	<!-- Attribute Resolution -->
	<!-- https://apereo.github.io/cas/4.2.x/integration/Attribute-Resolution.html -->
	<alias name="personDirectoryPrincipalResolver" alias="primaryPrincipalResolver" />

	<!-- Theme -->
	<!-- https://apereo.github.io/cas/4.2.x/installation/User-Interface-Customization.html -->
	<alias name="serviceThemeResolver" alias="themeResolver" />

	<!-- Service Management -->
	<!-- https://apereo.github.io/cas/4.2.x/installation/JSON-Service-Management.html -->
	<alias name="jsonServiceRegistryDao" alias="serviceRegistryDao" />

	<!-- Ticketing -->
	<!-- https://apereo.github.io/cas/4.2.x/installation/JPA-Ticket-Registry.html -->
	<alias name="jpaTicketRegistry" alias="ticketRegistry" />
	<!-- https://apereo.github.io/cas/4.2.x/installation/Configuring-LongTerm-Authentication.html -->
	<alias name="rememberMeDelegatingExpirationPolicy" alias="grantingTicketExpirationPolicy" />
	<alias name="timeoutExpirationPolicy" alias="rememberMeExpirationPolicy" />
	<alias name="ticketGrantingTicketExpirationPolicy" alias="sessionExpirationPolicy" />
	<alias name="multiTimeUseOrTimeoutExpirationPolicy" alias="serviceTicketExpirationPolicy" />

	<!-- Audit -->
	<!-- https://apereo.github.io/cas/4.2.x/installation/Audits.html -->
	<bean id="auditTrailManager"
		  class="org.jasig.inspektr.audit.support.Slf4jLoggingAuditTrailManager"
		  p:entrySeparator="${D}{cas.audit.singleline.separator:|}"
		  p:useSingleLine="${D}{cas.audit.singleline:false}"/>

	<!-- Throttling -->
	<!-- https://apereo.github.io/cas/4.2.x/installation/Configuring-Authentication-Throttling.html -->
	<alias name="neverThrottle" alias="authenticationThrottle" />

	<!-- Monitoring -->
	<!-- https://apereo.github.io/cas/4.2.x/installation/Monitoring-Statistics.html -->
	<util:list id="monitorsList">
		<ref bean="memoryMonitor" />
		<ref bean="sessionMonitor" />
	</util:list>

	<!-- Misc. -->
	<alias name="defaultPrincipalFactory" alias="principalFactory" />
	<alias name="defaultAuthenticationTransactionManager" alias="authenticationTransactionManager" />
	<alias name="defaultPrincipalElectionStrategy" alias="principalElectionStrategy" />
	<alias name="tgcCipherExecutor" alias="defaultCookieCipherExecutor" />
</beans>
