#set( $NEXUS_VERSION = ${project.properties.getProperty('nexus.version')} )
#set( $PRODUCT_DOMAIN = ${project.properties.getProperty('product.domain')} )
#set( $PRODUCT_SCHEME = ${project.properties.getProperty('product.scheme')} )
#set( $PROXY_HOST = ${project.properties.getProperty('proxy.host')} )
#set( $PROXY_PORT = ${project.properties.getProperty('proxy.port')} )
#set( $SMTP_HOST = ${project.properties.getProperty('smtp.host')} )
#set( $SMTP_PORT = ${project.properties.getProperty('smtp.port')} )
<?xml version="1.0" encoding="UTF-8"?>
<nexusConfiguration>
  <version>2.8.0</version>
  <nexusVersion>${NEXUS_VERSION}</nexusVersion>
  <globalConnectionSettings>
    <connectionTimeout>20000</connectionTimeout>
    <retrievalRetryCount>3</retrievalRetryCount>
  </globalConnectionSettings>
#if( ${PROXY_HOST} != "" && ${PROXY_PORT} != "" )
  <remoteProxySettings>
    <httpProxySettings>
      <proxyHostname>${PROXY_HOST}</proxyHostname>
      <proxyPort>${PROXY_PORT}</proxyPort>
    </httpProxySettings>
    <nonProxyHosts>
      <nonProxyHost>${PRODUCT_DOMAIN}</nonProxyHost>
    </nonProxyHosts>
  </remoteProxySettings>
#end
  <restApi>
    <baseUrl>${PRODUCT_SCHEME}://${PRODUCT_DOMAIN}/nexus</baseUrl>
    <uiTimeout>60000</uiTimeout>
  </restApi>
  <httpProxy>
    <enabled>true</enabled>
    <port>8082</port>
    <proxyPolicy>strict</proxyPolicy>
  </httpProxy>
  <routing>
    <resolveLinks>true</resolveLinks>
  </routing>
  <repositories>
    <repository>
      <id>central</id>
      <name>Central</name>
      <providerRole>org.sonatype.nexus.proxy.repository.Repository</providerRole>
      <providerHint>maven2</providerHint>
      <localStatus>IN_SERVICE</localStatus>
      <notFoundCacheActive>true</notFoundCacheActive>
      <notFoundCacheTTL>1440</notFoundCacheTTL>
      <userManaged>true</userManaged>
      <exposed>true</exposed>
      <browseable>true</browseable>
      <writePolicy>READ_ONLY</writePolicy>
      <indexable>true</indexable>
      <searchable>true</searchable>
      <localStorage>
        <provider>file</provider>
      </localStorage>
      <remoteStorage>
        <url>https://repo1.maven.org/maven2/</url>
      </remoteStorage>
      <externalConfiguration>
        <proxyMode>ALLOW</proxyMode>
        <artifactMaxAge>-1</artifactMaxAge>
        <itemMaxAge>1440</itemMaxAge>
        <cleanseRepositoryMetadata>false</cleanseRepositoryMetadata>
        <downloadRemoteIndex>false</downloadRemoteIndex>
        <checksumPolicy>WARN</checksumPolicy>
        <repositoryPolicy>RELEASE</repositoryPolicy>
      </externalConfiguration>
    </repository>
    <repository>
      <id>apache-snapshots</id>
      <name>Apache Snapshots</name>
      <providerRole>org.sonatype.nexus.proxy.repository.Repository</providerRole>
      <providerHint>maven2</providerHint>
      <localStatus>IN_SERVICE</localStatus>
      <notFoundCacheActive>true</notFoundCacheActive>
      <notFoundCacheTTL>1440</notFoundCacheTTL>
      <userManaged>true</userManaged>
      <exposed>true</exposed>
      <browseable>true</browseable>
      <writePolicy>READ_ONLY</writePolicy>
      <indexable>true</indexable>
      <searchable>true</searchable>
      <localStorage>
        <provider>file</provider>
      </localStorage>
      <remoteStorage>
        <url>https://repository.apache.org/snapshots/</url>
      </remoteStorage>
      <externalConfiguration>
        <proxyMode>ALLOW</proxyMode>
        <artifactMaxAge>1440</artifactMaxAge>
        <itemMaxAge>1440</itemMaxAge>
        <cleanseRepositoryMetadata>false</cleanseRepositoryMetadata>
        <downloadRemoteIndex>false</downloadRemoteIndex>
        <checksumPolicy>WARN</checksumPolicy>
        <repositoryPolicy>SNAPSHOT</repositoryPolicy>
      </externalConfiguration>
    </repository>
    <repository>
      <id>codehaus-snapshots</id>
      <name>Codehaus Snapshots</name>
      <providerRole>org.sonatype.nexus.proxy.repository.Repository</providerRole>
      <providerHint>maven2</providerHint>
      <localStatus>IN_SERVICE</localStatus>
      <notFoundCacheActive>true</notFoundCacheActive>
      <notFoundCacheTTL>1440</notFoundCacheTTL>
      <userManaged>true</userManaged>
      <exposed>true</exposed>
      <browseable>true</browseable>
      <writePolicy>READ_ONLY</writePolicy>
      <indexable>true</indexable>
      <searchable>true</searchable>
      <localStorage>
        <provider>file</provider>
      </localStorage>
      <remoteStorage>
        <url>https://nexus.codehaus.org/snapshots/</url>
      </remoteStorage>
      <externalConfiguration>
        <proxyMode>ALLOW</proxyMode>
        <artifactMaxAge>1440</artifactMaxAge>
        <itemMaxAge>1440</itemMaxAge>
        <cleanseRepositoryMetadata>false</cleanseRepositoryMetadata>
        <downloadRemoteIndex>false</downloadRemoteIndex>
        <checksumPolicy>WARN</checksumPolicy>
        <repositoryPolicy>SNAPSHOT</repositoryPolicy>
      </externalConfiguration>
    </repository>
    <repository>
      <id>releases</id>
      <name>Releases</name>
      <providerRole>org.sonatype.nexus.proxy.repository.Repository</providerRole>
      <providerHint>maven2</providerHint>
      <localStatus>IN_SERVICE</localStatus>
      <notFoundCacheTTL>1440</notFoundCacheTTL>
      <userManaged>true</userManaged>
      <exposed>true</exposed>
      <browseable>true</browseable>
      <writePolicy>ALLOW_WRITE_ONCE</writePolicy>
      <indexable>true</indexable>
      <searchable>true</searchable>
      <localStorage>
        <provider>file</provider>
      </localStorage>
      <externalConfiguration>
        <proxyMode>ALLOW</proxyMode>
        <artifactMaxAge>-1</artifactMaxAge>
        <itemMaxAge>1440</itemMaxAge>
        <cleanseRepositoryMetadata>false</cleanseRepositoryMetadata>
        <downloadRemoteIndex>false</downloadRemoteIndex>
        <checksumPolicy>WARN</checksumPolicy>
        <repositoryPolicy>RELEASE</repositoryPolicy>
      </externalConfiguration>
    </repository>
    <repository>
      <id>snapshots</id>
      <name>Snapshots</name>
      <providerRole>org.sonatype.nexus.proxy.repository.Repository</providerRole>
      <providerHint>maven2</providerHint>
      <localStatus>IN_SERVICE</localStatus>
      <notFoundCacheTTL>1440</notFoundCacheTTL>
      <userManaged>true</userManaged>
      <exposed>true</exposed>
      <browseable>true</browseable>
      <writePolicy>ALLOW_WRITE</writePolicy>
      <indexable>true</indexable>
      <searchable>true</searchable>
      <localStorage>
        <provider>file</provider>
      </localStorage>
      <externalConfiguration>
        <proxyMode>ALLOW</proxyMode>
        <artifactMaxAge>1440</artifactMaxAge>
        <itemMaxAge>1440</itemMaxAge>
        <cleanseRepositoryMetadata>false</cleanseRepositoryMetadata>
        <downloadRemoteIndex>false</downloadRemoteIndex>
        <checksumPolicy>WARN</checksumPolicy>
        <repositoryPolicy>SNAPSHOT</repositoryPolicy>
      </externalConfiguration>
    </repository>
    <repository>
      <id>thirdparty</id>
      <name>3rd party</name>
      <providerRole>org.sonatype.nexus.proxy.repository.Repository</providerRole>
      <providerHint>maven2</providerHint>
      <localStatus>IN_SERVICE</localStatus>
      <notFoundCacheTTL>1440</notFoundCacheTTL>
      <userManaged>true</userManaged>
      <exposed>true</exposed>
      <browseable>true</browseable>
      <writePolicy>ALLOW_WRITE_ONCE</writePolicy>
      <indexable>true</indexable>
      <searchable>true</searchable>
      <localStorage>
        <provider>file</provider>
      </localStorage>
      <externalConfiguration>
        <proxyMode>ALLOW</proxyMode>
        <artifactMaxAge>-1</artifactMaxAge>
        <itemMaxAge>1440</itemMaxAge>
        <cleanseRepositoryMetadata>false</cleanseRepositoryMetadata>
        <downloadRemoteIndex>false</downloadRemoteIndex>
        <checksumPolicy>WARN</checksumPolicy>
        <repositoryPolicy>RELEASE</repositoryPolicy>
      </externalConfiguration>
    </repository>
    <repository>
      <id>central-m1</id>
      <name>Central M1 shadow</name>
      <providerRole>org.sonatype.nexus.proxy.repository.ShadowRepository</providerRole>
      <providerHint>m2-m1-shadow</providerHint>
      <localStatus>IN_SERVICE</localStatus>
      <notFoundCacheTTL>15</notFoundCacheTTL>
      <userManaged>true</userManaged>
      <exposed>true</exposed>
      <browseable>true</browseable>
      <writePolicy>READ_ONLY</writePolicy>
      <localStorage>
        <provider>file</provider>
      </localStorage>
      <externalConfiguration>
        <masterRepositoryId>central</masterRepositoryId>
        <syncAtStartup>false</syncAtStartup>
      </externalConfiguration>
    </repository>
    <repository>
      <id>public</id>
      <name>Public Repositories</name>
      <providerRole>org.sonatype.nexus.proxy.repository.GroupRepository</providerRole>
      <providerHint>maven2</providerHint>
      <localStatus>IN_SERVICE</localStatus>
      <notFoundCacheTTL>15</notFoundCacheTTL>
      <userManaged>true</userManaged>
      <exposed>true</exposed>
      <browseable>true</browseable>
      <writePolicy>READ_ONLY</writePolicy>
      <indexable>true</indexable>
      <localStorage>
        <provider>file</provider>
      </localStorage>
      <externalConfiguration>
        <mergeMetadata>true</mergeMetadata>
        <memberRepositories>
          <memberRepository>releases</memberRepository>
          <memberRepository>snapshots</memberRepository>
          <memberRepository>thirdparty</memberRepository>
          <memberRepository>central</memberRepository>
        </memberRepositories>
      </externalConfiguration>
    </repository>
  </repositories>
  <repositoryGrouping>
    <pathMappings>
      <pathMapping>
        <id>inhouse-stuff</id>
        <groupId>*</groupId>
        <routeType>inclusive</routeType>
        <routePatterns>
          <routePattern>^/(com|org)/somecompany/.*</routePattern>
        </routePatterns>
        <repositories>
          <repository>snapshots</repository>
          <repository>releases</repository>
        </repositories>
      </pathMapping>
      <pathMapping>
        <id>apache-stuff</id>
        <groupId>*</groupId>
        <routeType>exclusive</routeType>
        <routePatterns>
          <routePattern>^/org/some-oss/.*</routePattern>
        </routePatterns>
        <repositories>
          <repository>releases</repository>
          <repository>snapshots</repository>
        </repositories>
      </pathMapping>
    </pathMappings>
  </repositoryGrouping>
  <repositoryTargets>
    <repositoryTarget>
      <id>1</id>
      <name>All (Maven2)</name>
      <contentClass>maven2</contentClass>
      <patterns>
        <pattern>.*</pattern>
      </patterns>
    </repositoryTarget>
    <repositoryTarget>
      <id>2</id>
      <name>All (Maven1)</name>
      <contentClass>maven1</contentClass>
      <patterns>
        <pattern>.*</pattern>
      </patterns>
    </repositoryTarget>
    <repositoryTarget>
      <id>3</id>
      <name>All but sources (Maven2)</name>
      <contentClass>maven2</contentClass>
      <patterns>
        <pattern>(?!.*-sources.*).*</pattern>
      </patterns>
    </repositoryTarget>
    <repositoryTarget>
      <id>4</id>
      <name>All Metadata (Maven2)</name>
      <contentClass>maven2</contentClass>
      <patterns>
        <pattern>.*maven-metadata\.xml.*</pattern>
      </patterns>
    </repositoryTarget>
    <repositoryTarget>
      <id>any</id>
      <name>All (Any Repository)</name>
      <contentClass>any</contentClass>
      <patterns>
        <pattern>.*</pattern>
      </patterns>
    </repositoryTarget>
    <repositoryTarget>
      <id>site</id>
      <name>All (site)</name>
      <contentClass>site</contentClass>
      <patterns>
        <pattern>.*</pattern>
      </patterns>
    </repositoryTarget>
    <repositoryTarget>
      <id>npm</id>
      <name>All (npm)</name>
      <contentClass>npm</contentClass>
      <patterns>
        <pattern>.*</pattern>
      </patterns>
    </repositoryTarget>
    <repositoryTarget>
      <id>nuget</id>
      <name>All (nuget)</name>
      <contentClass>nuget</contentClass>
      <patterns>
        <pattern>.*</pattern>
      </patterns>
    </repositoryTarget>
    <repositoryTarget>
      <id>rubygems</id>
      <name>All (rubygems)</name>
      <contentClass>rubygems</contentClass>
      <patterns>
        <pattern>.*</pattern>
      </patterns>
    </repositoryTarget>
  </repositoryTargets>
  <tasks>
    <task>
      <id>1</id>
      <name>Purge proxied artifacts</name>
      <enabled>true</enabled>
      <type>EvictUnusedProxiedItemsTask</type>
      <status>SUBMITTED</status>
      <nextRun>1325374200000</nextRun>
      <schedule>
        <type>weekly</type>
        <startDate>1325374200000</startDate>
        <daysOfWeek>
          <daysOfWeek>1</daysOfWeek>
        </daysOfWeek>
      </schedule>
      <properties>
        <property>
          <key>.name</key>
          <value>Purge proxied artifacts</value>
        </property>
        <property>
          <key>evictOlderCacheItemsThen</key>
          <value>90</value>
        </property>
        <property>
          <key>repositoryId</key>
          <value>all_repo</value>
        </property>
        <property>
          <key>.id</key>
          <value>1</value>
        </property>
      </properties>
    </task>
    <task>
      <id>2</id>
      <name>Purge timeline</name>
      <enabled>true</enabled>
      <type>PurgeTimeline</type>
      <status>SUBMITTED</status>
      <nextRun>1325375100000</nextRun>
      <schedule>
        <type>weekly</type>
        <startDate>1325375100000</startDate>
        <daysOfWeek>
          <daysOfWeek>1</daysOfWeek>
        </daysOfWeek>
      </schedule>
      <properties>
        <property>
          <key>purgeOlderThan</key>
          <value>90</value>
        </property>
        <property>
          <key>.name</key>
          <value>Purge timeline</value>
        </property>
        <property>
          <key>.id</key>
          <value>2</value>
        </property>
      </properties>
    </task>
    <task>
      <id>3</id>
      <name>Purge old snapshots</name>
      <enabled>true</enabled>
      <type>SnapshotRemoverTask</type>
      <status>SUBMITTED</status>
      <nextRun>1325376000000</nextRun>
      <schedule>
        <type>weekly</type>
        <startDate>1325376000000</startDate>
        <daysOfWeek>
          <daysOfWeek>1</daysOfWeek>
        </daysOfWeek>
      </schedule>
      <properties>
        <property>
          <key>removeOlderThanDays</key>
          <value>15</value>
        </property>
        <property>
          <key>graceDaysAfterRelease</key>
          <value></value>
        </property>
        <property>
          <key>deleteImmediately</key>
          <value>false</value>
        </property>
        <property>
          <key>minSnapshotsToKeep</key>
          <value>3</value>
        </property>
        <property>
          <key>removeIfReleaseExists</key>
          <value>false</value>
        </property>
        <property>
          <key>.name</key>
          <value>Purge old snapshots</value>
        </property>
        <property>
          <key>repositoryId</key>
          <value>snapshots</value>
        </property>
        <property>
          <key>.id</key>
          <value>3</value>
        </property>
      </properties>
    </task>
    <task>
      <id>4</id>
      <name>Empty snapshots trash</name>
      <enabled>true</enabled>
      <type>EmptyTrashTask</type>
      <status>SUBMITTED</status>
      <nextRun>1325376900000</nextRun>
      <schedule>
        <type>weekly</type>
        <startDate>1325376900000</startDate>
        <daysOfWeek>
          <daysOfWeek>1</daysOfWeek>
        </daysOfWeek>
      </schedule>
      <properties>
        <property>
          <key>EmptyTrashItemsOlderThan</key>
          <value>15</value>
        </property>
        <property>
          <key>.name</key>
          <value>Empty snapshots trash</value>
        </property>
        <property>
          <key>.id</key>
          <value>4</value>
        </property>
        <property>
          <key>repositoryId</key>
          <value>snapshots</value>
        </property>
      </properties>
    </task>
    <task>
      <id>5</id>
      <name>Weekly Index Optimization</name>
      <enabled>true</enabled>
      <type>OptimizeIndexTask</type>
      <status>SUBMITTED</status>
      <nextRun>1325377800000</nextRun>
      <schedule>
        <type>weekly</type>
        <startDate>1325377800000</startDate>
        <daysOfWeek>
          <daysOfWeek>1</daysOfWeek>
        </daysOfWeek>
      </schedule>
      <properties>
        <property>
          <key>.name</key>
          <value>Weekly Index Optimization</value>
        </property>
        <property>
          <key>repositoryId</key>
          <value>all_repo</value>
        </property>
        <property>
          <key>.id</key>
          <value>5</value>
        </property>
      </properties>
    </task>
  </tasks>
  <smtpConfiguration>
    <hostname>${SMTP_HOST}</hostname>
    <port>${SMTP_PORT}</port>
    <username></username>
    <password></password>
    <systemEmailAddress>nexus@${PRODUCT_DOMAIN}</systemEmailAddress>
  </smtpConfiguration>
  <notification>
    <notificationTargets>
      <notificationTarget>
        <targetId>autoBlockTarget</targetId>
      </notificationTarget>
    </notificationTargets>
  </notification>
</nexusConfiguration>
